section {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

section ul {
  padding: 20px;
  width: 100%;
  list-style: none;
}

section ul li {
  position: relative;
  width: 70%;
  height: 120px;
  margin: 10px auto;
  padding: 10px 10px;
  box-shadow: 0 0 10px lightgray;
  border-radius: 5px 30px 30px 30px;
    background: linear-gradient(135deg, rgb(207, 207, 207) 0%, rgb(196, 248, 254) 50%, rgb(215, 215, 215) 100%);

  overflow: hidden;
}
section ul li.dragging {
  opacity: 0.3 !important;
}

section ul li div {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 100%;
  gap: 5px;
}

section ul li img {
  width: 100px;
  height: 100px;
  border: 2px dotted gray;
  border-radius: 50%;
}

section ul li section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  text-align: center;
  flex-grow: 0.5;
  width: 100px;
  height: 100px;
}

section ul li section h3 {
  padding: 5px;
  font-size: 24px;
}

section ul li section a {
  padding: 5px;
  font-size: 16px;
  text-decoration: none;
  cursor: pointer;
}

section ul li section span {
  padding: 5px;
  font-size: 16px;
}

section ul li article {
  padding: 10px;
  align-self: baseline;
  text-align: justify;
  line-height: 1.5rem;
  width: 60%;
  height: 100px;
}

section ul li .delete-icon {
  position: absolute;
  top: -1px;
  right: 0px;
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  font-family: sans-serif;
  font-size: 14px;
  font-weight: bold;
  color: red;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}
section ul li .delete-icon:hover {
  background-color: lightgray;
  border-radius: 0 0 0 30px;
}

/* ------------animation part----------- */
.fade-item {
  opacity: 0;
  transition: 0.25s all ease-in-out;
}

.fadein {
  animation: fadeIn 0.25s 1;
  animation-fill-mode: forwards;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.no-item {
  margin: 1rem 0;
  padding: 1rem 2rem;
  font-size: 2rem;
  color: orange;
  border: 2px dashed orangered;
  border-radius: 1rem;
}